.fa-star {
    margin: 0.5em;
    font-size: 24px;
    color: orange;
}

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: gray;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    color: black;
    background-color: lightgray;
    cursor: not-allowed;
}

.used {
    color: green;
    background-color: lightgreen;
    cursor: not-allowed;
}